---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Masonry from "@components/work/Masonry.astro";
import { getLangFromUrl, useTranslatedPath, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

const { class: className } = Astro.props;

const allProjects = (await getCollection("projects"))
	.filter((prj) => {
		const [postLang, ...slug] = prj.slug.split("/");
		return postLang === lang;
	})
	.map((prj) => {
		const [postLang, slug] = prj.slug.split("/");

		return {
			...prj,
			slug: slug,
		};
	})
	.sort((a, b) => Number(a.data.order) - Number(b.data.order));

// Convert projects to Masonry format
const masonryItems = allProjects.map((project, index) => ({
	id: project.slug,
	img: project.data.image?.source?.src,
	video: project.data.video,
	url: project.data.link || `/projects/${project.slug}`,
	height: 320 + Math.floor(Math.random() * 120), // Random height between 320-440px
	title: project.data.title,
	description: project.data.description,
}));
---

<section id="projects" class:list={["work-preview-section py-12", className]}>
	<h2 class="sr-only">{t("projects")}</h2>
	<div class="px-5">
		<Masonry
			items={masonryItems}
			ease="power3.out"
			duration={0.6}
			stagger={0.08}
			animateFrom="bottom"
			scaleOnHover={true}
			hoverScale={1.05}
			blurToFocus={true}
			colorShiftOnHover={false}
		/>
	</div>
</section>


